html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.default_bg {
    background: #eeeeee;
    /* background: #111827; */
}


/* tailwindss configs */

@tailwind base;
@tailwind components;
@tailwind utilities;