body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
  transition: border 0.2s ease-in-out;
  min-width: 280px
}
.input:focus+.label,
.input:active+.label,
.input.filled+.label {
  font-size: .75rem;
  transition: all 0.2s ease-out;
  top: -27px;
  color: #6b7280;
}
.label {
  transition: all 0.2s ease-out;
  top: -10px;
  left: 0;
}